body {
    height: 100svh;
}

.container {
    display: grid;
    place-items: center;
    height: 100%;
}

.container__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__wrapper {
    background-color: #798688;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1), 2px 3px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    overflow: clip;
}

.city-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    padding: 1rem;
    z-index: 1;
}

.city-selection {
    background-color: #d8dfe0;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.2);
}
